/* CSS HERE */

:root {
    --color-tap: #8A3126;
    --color-tap-active: #CCCABC;
    --color-one: #709067;
    --color-two: #D9D9D7;
    --color-three: #EEE8E7;

    --font-cinzel: 'Cinzel', serif;
    --font-lora: 'Lora', serif
}


/************** Website Frame **************/

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;

    background-color: var(--color-one);
    color: var(--color-three);
    height: 4rem;
    padding: 0vw 18vw;
}

.footer {
    justify-content: space-between;
}

.tap {
    color: var(--color-three);
    font-size: 1.5rem;
    transition: 4ms;
}

.tap:hover {
    text-decoration: underline var(--color-three);
    text-decoration-thickness: 0.1rem;
}

.active {
    text-decoration: underline var(--color-three);
    text-decoration-thickness: 0.1rem;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8vw 18vw;
    background-image: url(../assets/restaurant_background_blurred.jpg);
    background-size: 100%;
    background-position: center;
}

/************** Home Page **************/

#home-page,
#contact-page {
    display: flex;
    flex-direction: column;
    
    height: 100%;
}

.heading {
    font-family: var(--font-cinzel);
    font-size: 2.6rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px var(--color-tap-active);
}

.text {
    font-family: var(--font-lora);
    line-height: 1.5rem;
}


/************** Menu Page **************/

#menu-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #eee8e787;
}